.container-whole {
    height: 100%;
}
.template {
    padding-top: 10px;
    padding-bottom: 20px;
}
.home-page{
    width: 100%;
    max-width: "400";
    color: #095571;
}
.card-event{
    width:49%;
    max-width: "200";
    flex: 1;
    float:right;
    color: #095571;
}
.card-headings {
    margin-top: 10px;
    margin-left: 18px;
    font-weight: bold;
    color: #002C46;
}
.form-spacing {
    margin-bottom: 10px;
    font-size: 16px;
    color: #002C46;
}
.input-spacing {
    margin-bottom: 20px;
    font-size: 16px;
    color: #979797;
}
.create-button {
    margin-top: 100px;
    margin-bottom: 20px;
}
.button-success {
    background-color: #095571;
}
.cancel {
    background-color: #EA492C;
}
.card-confirm1 {
    font-size: 34px;
    font-weight: bold;
    color: #095571;
}
.card-confirm2 {
    font-size: 34px;
    font-weight: bold;
    color: #45A35D;
    text-align: center;
}
.card-note {
    margin-top: -30px;
    font-size: 16px;
    color: #979797;
    text-align: center;
}
.btn-submit {
    text-align: right;
    margin-left: 10px;
}
.card-body-spacing {
    height: 700px;
    overflow-y: scroll;
}
.pop-up-body {
    text-align: center;
    margin-bottom:20px;
    margin-top:-30px;
}
.card-body-spacings {
    height: 700px;
    }
.card-body-content {
    text-align: center;
}
.oops {
    font-size: 38px;
}
@media only screen and (max-width: 575px) {
    .col-spacing{
    margin-bottom: 30px;
    }
}
@media only screen and (max-width: 575px) {
    .submit-pop{
    margin-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    }
}
.container-event {
    border-radius: 10px;
    border-color: #CCCCCC;
    height: 100%;
    border-style: outset;
}
.monev-font {
    font-weight: bold;
    font-size: 18px;
    color: #002C46;
    padding: 10px 0px 0px 10px;
}
.icon-container {
    text-align: left;
    font-size: 10px;
    color: #979797;
    margin-bottom: 15px;
    margin-left: 0px;
}
.icon-container2 {
    text-align: left;
    font-size: 10px;
    color: #FFFFFF;
    margin-bottom: 15px;
    background-color: #F9CC2C;
    text-align: center;
    border-radius: 5px;
}
.icon-margin {
    padding: 5px 0px 5px 0px;
}
.icon-position1 {
    margin: 22px 0px 22px 10px;
}
.icon-position2 {
    margin: 22px 0px 22px 10px;
}
.details-title1 {
    color: #095571;
}
.details-title2 {
    font-size: 16px;
    color: #095571;
    font-weight: bold;
}
.team-container{
    border-radius: 10px;
    border-color: #CCCCCC;
    height: 100%;
    margin: 0px 20px 0px 20px;
    border-style: outset;
    color: #095571;
}
.team-container2{
    margin: -5px 5px -5px 5px;
}
.time-container{
    border-radius: 10px;
    border-color: #CCCCCC;
    height: 100%;
    margin: 0px 20px 20px 20px;
    border-style: outset;
    color: #095571;
}
.team-font{
    font-size: 14px;
    columns: #002C46;
    background-color: #EBEBEB;
    margin-bottom: 10px;
}
.team-font-top{
    font-size: 14px;
    columns: #002C46;
    background-color: #EBEBEB;
    margin-bottom: 10px;
    margin-top: 10px;
}
.team-font2{
    font-size: 14px;
    columns: #002C46;
    background-color: #EBEBEB;
    margin-bottom: 10px;
}
.time-col {
    font-size: 12px;
    color: #095571;
    background-color: #EBEBEB;
    border-radius: 5px;
    padding: 4px 0px 0px 10px;
    margin-bottom: 10px;
}
.time-col2 {
    font-size: 11px;
    color: #095571;
    background-color: #EBEBEB;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin: 3px 0px 3px 0px;
}
.icon-time {
    margin-left: -10px;
    margin-bottom: 5px;
}
.time-date {
    font-size: 15px;
    color: #095571;
    margin-left: -11px;
}
.icon-team-invited {
    margin-left: -10px;
}
.time-input {
    margin-left: 20px;
    padding-top: 5px;
    background-color: #fff;
    border:1px solid #EBEBEB;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
}
.time-input2 {
    padding-top: 5px;
    background-color: #fff;
    border:1px solid #EBEBEB;
    height: 50px;
    border-radius: 0px 10px 10px 0px;
}
.time-input3 {
    margin-left: 55px;
    padding-top: 5px;
    background-color: #fff;
    border:1px solid #EBEBEB;
    height: 50px;
    border-radius: 10px 0px 0px 10px;
}
.to-time {
    padding-top: 10px;
    border: 0px;
    background-color: #EBEBEB;
}
.time-label{
    margin-left: 10px;
    margin-bottom: 5px;
}
.time-label2{
    margin-left: 45px;
    margin-bottom: 5px;
}
.upload-document {
    border: solid 1px lightgray;
    border-radius: 4px;
    height: 35px;
    text-align: right;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: hsl(0, 0%, 50%);
    content: "";
    background-image: url(../icons/iconupload.svg);
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
    background-size: 100% 100%;
    width: 10px;
}
.custom-file-label {
    color: #979797;
}