.JudulNotif{
    color: #4B4647;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 15px;
    margin-top: 20px;
}

input[type="file"]{
    display: none;
}

/* label {
    color:#095571;
    background-color: #C5D4EB ;
    display: flex;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */