.container-whole {
    padding-top: 20px;
    height: 100%;
}
.schedule-card {
    padding-top: 10px;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}
.card-headings {
    margin: 10px 20px 0px 20px;
    font-weight: bold;
    color: #002C46;
}
.table-wrapper {
    margin-top: "20px";
    font-weight: bold;
    color: #002C46;
}
.tbody-font {
    color: #002C46;
    font-size: 14px;
}
.tbody-center {
    text-align: center;
    margin-right: 10px;
}
.thead-schedule {
    background-color: #095571;
    color: #FFFFFF;
    font-size: 18px;
    text-align: center;
}
@media only screen and (max-width: 575px) {
    .schedule-card-resp{
    margin-bottom: 30px;
    }
}
