.container-whole {
    height: 100%;
}
.template {
    padding-bottom: 30px;
}
.profile-picture {
    width: 200px;
    height: 180px;
}
.profile-picture2 {
    width: 150px;
    height: 150px;
}
.profile-picture3 {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.centerprofpic {
    padding: 100px 77px 0px 77px;
}
.profile-name {
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}
.profile-user {
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin-top: -5%;
}
.profile-email {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    margin-top: -5%;
}
.active-tabs {
    padding-top: 10%;
}
.card-body-spacings {
    height: 750px;
    }
.card-body-spacing {
    height: 100vh;
    } 
.headtitle {
    background: white;
    height: 100%;
}
.card-heading-font1 {
    color: #002C46;
    font-size: 20px;
    font-weight: bold;
}
.card-heading-font2 {
    color: #979797;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}
.card-body-title {
    color: #002C46;
    font-size: 20px;
}
.form-spacing {
    font-size: 14px;
    color: #095571;
}
@media only screen and (max-width: 575px) {
    .col-spacing{
    margin-bottom: 30px;
    }
}
@media only screen and (max-width: 575px) {
    .submit-pop{
    margin-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    }
}
.file-type {
    text-align: center;
    color:#979797;
    font-size: 12px;
}
.button-upload {
    margin: -5% 0% 0% 15%;
}

