/* CREATE TEAM */

.Gambar {
    padding-top: 1000px;
    
}


.Judul {
    margin-top: 10px;
    margin-left: 18px;
    font-weight: bold;
    color: #002C46;
}

.Form {
    width: 80%;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}

.button1 {
    margin-bottom: 50px;

}




/* YOUR TEAM */

.JudulYourTeam {
    margin-top: 10px;
    margin-left: 18px;
    font-weight: bold;
    color: #002C46;
}

.btn-secondary {
    color: #fff;
    background-color: white;
    border-color: #6c757d;
}