.App {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  background: #E5E5E5;;
  overflow: hidden;
  color: #095571;
  font-family: 'Roboto';
}



body {
  font-family: 'Roboto';
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100% fit-content;
  background: #095571;
  color: #E5E5E5;
  margin-left: -250px;
  transition: all 0.5s;
  overflow: hidden;
}

.sidebar.is-open {
  margin-left: 0;
  transition: 0.5s;
}

.sidebar-header {
  background: #095571;
}

.sidebar-header h2 {
  color: black;
  margin-left: 1em;
  padding-top: 1.25em;
  padding-bottom: 0.5em;
  font-weight: bolder;
}

.sidebar ul p {
  color: #fff;
  padding: 10px;
}

.nav-link:hover {
  color: #095571 !important;
  background: #EBEBEB;
  border-radius: 10px 10px 10px 10px;
}

.sidebar-header > span {
  position: relative;
  float: right;
  margin: 0.5em;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.side-menu {
  height: calc(100vh - 130px);
  overflow-y: scroll;
}

.side-menu::-webkit-scrollbar {
  width: 10px;
}

.side-menu::-webkit-scrollbar-thumb {
  background: #737677;
  border-radius: 3px;
}

.side-menu::-webkit-scrollbar-thumb:hover {
  background: #108FC0;
}

/* ---------------------------------------------------
    TOPBAR STYLE
----------------------------------------------------- */
.topbar {
  background: #095571;
  color: #E5E5E5;
  padding-top: 1.2em;
  padding-bottom: 0.5em;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.content {
  margin-left: 0;
  height: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.custom-file-label {
  color: #979797;
}
.close {
  background-color: #fff;
  border: 0;
  font-size: 25px;
}
.form-control {
  color: #979797;
}

/* ---------------------------------------------------
    MOBILE RESPONSIVENESS
----------------------------------------------------- */
@media only screen and (max-width: 500px) {
  body {
    overflow: scroll;
  }

  .content.is-open {
    margin-left: 100%;
  }

  .sidebar.is-open {
    min-width: 95%;
    max-width: 95%;
    margin-left: 0;
    height: 100%;
    position: fixed;
    overflow: hidden visible;
    transition: all 0.5s, height 0s;
  }

  .sidebar.is-open > .sidebar-header span {
    display: unset;
  }

}
